body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #434455;
}

/* reset */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/* common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-studio {
  color: #2e2f42;
}

.menu-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
  position: relative;
}

.menu-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-info {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus,
.contacts-info:hover,
.contacts-info:focus,
.menu-link.current {
  color: #404bbf;
}

/* hero */

.hero {
  background: #2e2f42;
  height: 600px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 48px auto 0 auto;
  display: block;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* main */
/* team's expertise */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team-section-description {
  padding: 120px 0 120px;
}

.team-expertise-list {
  display: flex;
  gap: 24px;
}

.title-three-text {
  margin-bottom: 8px;
}

.para-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
  padding-bottom: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
}

.team-expertise-item {
  width: calc((100% - 72px) / 4);
}

.icon-expertise-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* our team */

img {
  display: block;
}

.photo-list {
  display: flex;
  gap: 24px;
}

.photo-title-container {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.title-three-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.photo-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
}

.photo-section-description {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
}

.photo-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.photo-item {
  width: calc((100% - 72px) / 4);
}

.soc-media-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.soc-media-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-icon {
  fill: #f4f4fd;
}

.soc-media-link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-media-link:hover,
.soc-media-link:focus {
  background-color: #404bbf;
}

/* our portfolio */

.portfolio-section {
  padding: 120px 0 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-title {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-para {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-item-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  padding: 40px 32px;
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-item {
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* modal */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 1440px;
  height: 672px;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer */

.footer-logo .logo-studio {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 100px;
  max-width: 264px;
  padding: 0;
  margin: 0;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.soc-media-subcontainer {
  display: flex;
  flex-direction: column;
}

.logo-subcontainer {
  margin-right: 120px;
}

.footer-icons-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-icons-item {
  display: inline-block;
}

.footer-para {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-soc-media-link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-media-link:hover,
.footer-soc-media-link:focus {
  background-color: #31d0aa;
}
